__pycache__/
.ipynb_checkpoints/
data_mnist/
data/
weights/
exps/
/config.py
.DS_Store
.venv
.vscode
/utils/visualizations
/Models/Models
*.sh
*.ipynb
notebook /processing.ipynb
notebook /results_analysis.ipynb
fusion/
*.ipynb
